html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

h1, h2 {
    text-align: center;
}

h2 {
    color: cornflowerblue;
}

button {
    margin: 2rem auto;
    padding: 0.5rem;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
}

